// Test
.test-p6 {
  &.outer-style {
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 993;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
// Test > MatiereUser Form
.matiere-user-form-p6 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow: auto;
  }
}
// Test > MatiereUser Form > Form content
.form-content-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > MatiereUser Form > Form content > Comment vous les procurez-vous ?
.comment-vous-les-procurez-vous-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > MatiereUser Form > Form content > text
.choisissez-votre-matiere-p6 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Test > MatiereUser Form > Form content > Quel est la catégorie de votre matière ?
.quel-est-la-categorie-de-votre-matiere-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > MatiereUser Form > Form content > text
.quels-choix-caracterisent-p6 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Test > MatiereUser Form > Form content > Matiere
.matiere-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
}
// Test > MatiereUser Form > Form content > Où sont-ils situés par rapport à vous ?
.ou-sont-ils-situes-par-rapport-a-vous-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > MatiereUser Form > Form content > Quel est le nom de votre matière
.quel-est-le-nom-de-votre-matiere-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > MatiereUser Form > Form content > Compte Id Compte
.compte-id-compte-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
  &.label-style {
    font-weight: bold;
  }
}
// Test > MatiereUser Form > Form content > Quel est la consommation du véhicule ?
.quel-est-la-consommation-du-vehicule-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 997;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > MatiereUser Form > Form content > Quel est le poids de votre matière ?
.quel-est-le-poids-de-votre-matiere-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 997;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > MatiereUser Form > Form content > Quelle est la provenance de vos matières premières?
.quelle-est-la-provenance-de-vos-matieres-p-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 996;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > MatiereUser Form > Form content > Comment récupérez vous votre commande ?
.comment-recuperez-vous-votre-commande-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 995;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > MatiereUser Form > Form content > Matière neuve
.matiere-neuve-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 995;
  }
}
// Test > MatiereUser Form > Form content > Faites-vous des commandes groupées avec d'autres entreprises ?
.faites-vous-des-commandes-groupees-avec-d-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 994;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > MatiereUser Form > Form content > Matière occasion
.matiere-occasion-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 994;
  }
}
// Test > MatiereUser Form > Form content > Pour quelle raison ne vous approvisionnez-vous pas plus près ?
.pour-quelle-raison-ne-vous-approvisionne-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 993;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > MatiereUser Form > Form content > Matière récupérées
.matiere-recuperees-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 993;
  }
}
// Test > MatiereUser Form > Form content > En êtes vous sur ?
.en-etes-vous-sur-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 992;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > MatiereUser Form > Form content > Matière issue du recyclage
.matiere-issue-du-recyclage-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 992;
  }
}
// Test > MatiereUser Form > Form content > Avez-vous déjà pensé à changer votre processus d'approvisionnement ?
.avez-vous-deja-pense-a-changer-votre-proce-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 991;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > MatiereUser Form > Form content > Matière auto-produite
.matiere-auto-produite-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 991;
  }
}
// Test > MatiereUser Form > Form content > Saisonnalité
.saisonnalite-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 990;
  }
}
// Test > MatiereUser Form > Form content > Moyen Transport
.moyen-transport-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 989;
  }
}
// Test > MatiereUser Form > Bouton matière
.bouton-matiere-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > MatiereUser Form > Bouton matière > Nouvelle matière
.nouvelle-matiere-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > MatiereUser Form > Bouton matière > Suivant
.suivant-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page
.formulaire-sur-une-page-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 10px;
    z-index: 999;
  }
  &.property-style {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    padding: 10px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    overflow: auto;
  }
}
// Test > Formulaire sur une page > Agricole Form
.agricole-form-p6 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow: auto;
  }
}
// Test > Formulaire sur une page > Agricole Form > Form content
.container-1-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > Agricole Form > Form content > Combien de tête ?
.combien-de-tete-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > Agricole Form > Form content > Quel est la surface de votre exploitation agricole?
.quel-est-la-surface-de-votre-exploitation-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > Agricole Form > Form content > Utilisez- vous des machines agricoles?
.utilisez-vous-des-machines-agricoles-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 997;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > Agricole Form > Form content > Compost
.compost-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 996;
  }
}
// Test > Formulaire sur une page > Agricole Form > Form content > Engraischimique
.engraischimique-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 995;
  }
}
// Test > Formulaire sur une page > Agricole Form > Form content > Avez-vous déjà pensé à opter pour une alternative plus naturel?
.avez-vous-deja-pense-a-opter-pour-une-alter-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 994;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > Agricole Form > Boutons
.boutons-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > Agricole Form > Boutons > Retour
.retour-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > Agricole Form > Boutons > Suivant
.button-1-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > EnergieUser Form
.energie-user-form-p6 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow: auto;
  }
}
// Test > Formulaire sur une page > EnergieUser Form > Form content
.container-2-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > EnergieUser Form > Form content > Valeur Energie User
.valeur-energie-user-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > EnergieUser Form > Form content > Energie
.energie-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
}
// Test > Formulaire sur une page > EnergieUser Form > Form content > Boutons etape formulaire
.boutons-etape-formulaire-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > EnergieUser Form > Form content > Boutons etape formulaire > Retour
.button-2-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > EnergieUser Form > Form content > Boutons etape formulaire > Suivant
.button-3-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > EnergieUser Form > Form content > Boutons etape formulaire > Enregistrer
.enregistrer-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > EquipementUser Form
.equipement-user-form-p6 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow: auto;
  }
}
// Test > Formulaire sur une page > EquipementUser Form > Form content
.container-3-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > EquipementUser Form > Form content > Nombre Equipement
.nombre-equipement-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > EquipementUser Form > Form content > Depuis combien de temps possédez vous ces équipements?
.depuis-combien-de-temps-possedez-vous-ces-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > EquipementUser Form > Form content > Vos équipements ont-ils été achetés neufs, reconditionnés ou de seconde main? Sont-ils loués?
.vos-equipements-ont-ils-ete-achetes-neufs-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 997;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > EquipementUser Form > Form content > Combien de temps gardez vous votre matériel en moyenne?
.combien-de-temps-gardez-vous-votre-materi-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 996;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > EquipementUser Form > Form content > Qu'est-ce qui vous pousse à vous en débarasser?
.quest-ce-qui-vous-pousse-a-vous-en-debarass-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 995;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > EquipementUser Form > Form content > Que faites vous de vos fournitures une fois qu'elles ne servent plus?
.que-faites-vous-de-vos-fournitures-une-foi-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 994;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > EquipementUser Form > Form content > Partager vous l'usage des machines avec d'autres entreprises?
.partager-vous-lusage-des-machines-avec-da-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 993;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > EquipementUser Form > Form content > Equipement
.equipement-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 992;
  }
}
// Test > Formulaire sur une page > EquipementUser Form > Form content > Boutons etape formulaire
.container-4-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 991;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > EquipementUser Form > Form content > Boutons etape formulaire > Retour
.button-4-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > EquipementUser Form > Form content > Boutons etape formulaire > Enregistrer
.button-5-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > EquipementUser Form > Form content > Boutons etape formulaire > Suivant
.button-6-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > FournitureUser Form
.fourniture-user-form-p6 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow: auto;
  }
}
// Test > Formulaire sur une page > FournitureUser Form > Form content
.container-5-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > FournitureUser Form > Form content > Valeur Fourniture Utilisees
.valeur-fourniture-utilisees-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > FournitureUser Form > Form content > Fournitures
.fournitures-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
}
// Test > Formulaire sur une page > Batiment Form
.batiment-form-p6 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow: auto;
  }
}
// Test > Formulaire sur une page > Batiment Form > Form content
.container-6-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > Batiment Form > Form content > Dans quel genre de batiment ont lieu la production de vos produits?
.dans-quel-genre-de-batiment-ont-lieu-la-pro-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > Batiment Form > Form content > Quel est la surface total du bâtiment?
.quel-est-la-surface-total-du-batiment-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > Batiment Form > Form content > Il y a-t-il d'autres entreprises au sein du bâtiment?
.il-yat-il-dautres-entreprises-au-sein-du-ba-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 997;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > Batiment Form > Form content > Quel est la classe énergétique du bâtiment?
.quel-est-la-classe-energetique-du-batimen-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 996;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > Batiment Form > Form content > Quel est la consommation electrique du bâtiment? (euros ou kWh)
.quel-est-la-consommation-electrique-du-ba-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 995;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > Batiment Form > Form content > Partagez vous l'usage des machines avec d'autres entreprises?
.partagez-vous-lusage-des-machines-avec-da-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 994;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > ChauffageUser Form
.chauffage-user-form-p6 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow: auto;
  }
}
// Test > Formulaire sur une page > ChauffageUser Form > Form content
.container-7-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > ChauffageUser Form > Form content > Valeur Chauffer
.valeur-chauffer-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > ChauffageUser Form > Form content > Chauffage
.chauffage-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
}
// Test > Formulaire sur une page > ChauffageUser Form > Form content > Boutons retour suivant enregistrer
.boutons-retour-suivant-enregistrer-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > ChauffageUser Form > Form content > Boutons retour suivant enregistrer > Retour
.button-7-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > ChauffageUser Form > Form content > Boutons retour suivant enregistrer > Suivant
.button-8-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > ChauffageUser Form > Form content > Boutons retour suivant enregistrer > Enregistrer
.button-9-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > EnergieRenouvelableUser Form
.energie-renouvelable-user-form-p6 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow: auto;
  }
}
// Test > Formulaire sur une page > EnergieRenouvelableUser Form > Form content
.container-8-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > EnergieRenouvelableUser Form > Form content > Valeur Energie Renouvelable User
.valeur-energie-renouvelable-user-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > EnergieRenouvelableUser Form > Form content > Energie renouvelables
.energie-renouvelables-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
}
// Test > Formulaire sur une page > Vente Form
.vente-form-p6 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow: auto;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content
.container-9-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > En moyenne, combien de produits vendez-vous par semaine?
.en-moyenne-combien-de-produits-vendez-vou-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Vos produits sont-ils garantis?
.vos-produits-sont-ils-garantis-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Vos produits sont-ils recyclables?
.vos-produits-sont-ils-recyclables-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 997;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Récupérez-vous vos produits en fin de vie?
.recuperez-vous-vos-produits-en-fin-de-vie-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 996;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Restaurez-vous les produits?
.restaurez-vous-les-produits-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 995;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Locaux
.locaux-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 994;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Touristes
.touristes-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 993;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > <1km
.k1-km-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 992;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > <10km
.k10-km-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 991;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > 10 à 20km
.k-10-a-20-km-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 990;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > <20km
.k20-km-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 989;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Routier
.routier-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 988;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Maritime
.maritime-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 987;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Marketplaces
.marketplaces-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 986;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Aérien
.aerien-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 985;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Train
.train-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 984;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Où votre batiment de fonction est-il placé?
.ou-votre-batiment-de-fonction-est-il-place-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 983;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Pourquoi avez-vous choisi cet emplacement?
.pourquoi-avez-vous-choisi-cet-emplacemen-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 982;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Quel est son accessibilité?
.quel-est-son-accessibilite-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 981;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Qu'est-ce qui pourrait vous pousser à changer d'emplacement?
.quest-ce-qui-pourrait-vous-pousser-a-chang-p6 {
  &.outer-style {
    height: 200px;
    width: 100%;
    min-height: 200px;
    min-width: 0;
    padding: 5px;
    z-index: 980;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
  &.template-style {
    max-height: 200px;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Boutons retour suivant enregistrer
.container-10-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 980;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Boutons retour suivant enregistrer > Retour
.button-10-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > Vente Form > Form content > Boutons retour suivant enregistrer > Suivant
.button-11-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > EmballageUser Form
.emballage-user-form-p6 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow: auto;
  }
}
// Test > Formulaire sur une page > EmballageUser Form > Form content
.container-11-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > EmballageUser Form > Form content > Valeur Emballer
.valeur-emballer-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > EmballageUser Form > Form content > Resultat Emballer
.resultat-emballer-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > EmballageUser Form > Form content > Issue Recycle Emballage
.issue-recycle-emballage-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 997;
  }
}
// Test > Formulaire sur une page > EmballageUser Form > Form content > Recyclable Emballage
.recyclable-emballage-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 996;
  }
}
// Test > Formulaire sur une page > EmballageUser Form > Form content > Emballage
.emballage-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 995;
  }
}
// Test > Formulaire sur une page > EmballageUser Form > Form content > Boutons retour suivant enregistrer
.container-12-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 995;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > EmballageUser Form > Form content > Boutons retour suivant enregistrer > Retour
.button-12-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > EmballageUser Form > Form content > Boutons retour suivant enregistrer > Suivant
.button-13-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > EmballageUser Form > Form content > Boutons retour suivant enregistrer > Enregistrer
.button-14-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > Transport Form
.transport-form-p6 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow: auto;
  }
}
// Test > Formulaire sur une page > Transport Form > Form content
.container-13-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > Transport Form > Form content > nombre de km domicile/travail
.nombre-de-km-domicile-travail-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > Transport Form > Form content > Quelle est la consommation de votre véhicule ?
.quelle-est-la-consommation-de-votre-vehic-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > Transport Form > Form content > Faites vous du covoiturage ?
.faites-vous-du-covoiturage-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 997;
  }
}
// Test > Formulaire sur une page > Transport Form > Form content > Est-ce une voiture de fonction
.est-ce-une-voiture-de-fonction-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 996;
  }
}
// Test > Formulaire sur une page > Transport Form > Form content > Faites vous une moyenne de vos employés ou par employé ?
.faites-vous-une-moyenne-de-vos-employes-ou-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 995;
  }
}
// Test > Formulaire sur une page > Transport Form > Form content > Faites vous des déplacements professionnels ?
.faites-vous-des-deplacements-profession-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 994;
  }
}
// Test > Formulaire sur une page > Transport Form > Form content > Est-ce une location ?
.est-ce-une-location-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 993;
  }
}
// Test > Formulaire sur une page > Transport Form > Form content > Salarie
.salarie-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 992;
  }
}
// Test > Formulaire sur une page > DechetsQuestion Form
.dechets-question-form-p6 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow: auto;
  }
}
// Test > Formulaire sur une page > DechetsQuestion Form > Form content
.container-14-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > DechetsQuestion Form > Form content > Jetez-vous souvent des déchets (dus à votre activité) à la décheterie?
.jetez-vous-souvent-des-dechets-dus-a-votre-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
}
// Test > Formulaire sur une page > DechetsQuestion Form > Form content > Pliez-vous vos sièges arrières?
.pliez-vous-vos-sieges-arrieres-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
}
// Test > Formulaire sur une page > DechetsQuestion Form > Form content > Utilisez-vous une remorque?
.utilisez-vous-une-remorque-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 997;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > DechetsQuestion Form > Form content > Combien d'allers-retours faites vous en moyenne par mois?
.combien-dallers-retours-faites-vous-en-mo-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 996;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > DechetsQuestion Form > Form content > Faîtes-vous du compost avec vos déchets organiques ?
.faites-vous-du-compost-avec-vos-dechets-or-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 995;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > DechetsQuestion Form > Form content > Usage Poubelle Organique
.usage-poubelle-organique-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 994;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > DechetsQuestion Form > Form content > Boutons retour suivant enregistrer
.container-15-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 994;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > DechetsQuestion Form > Form content > Boutons retour suivant enregistrer > Retour
.button-15-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > DechetsQuestion Form > Form content > Boutons retour suivant enregistrer > Suivant
.button-16-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > h1
.h-1-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
}
// Test > Formulaire sur une page > button
.commencer-le-formulaire-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 1000;
  }
  &.property-style {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > TransportQuestion Form
.transport-question-form-p6 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 999;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow: auto;
  }
}
// Test > Formulaire sur une page > TransportQuestion Form > Form content
.container-16-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > TransportQuestion Form > Form content > Regroupez-vous vos déplacements professionnels afin de limiter le déplacement?
.regroupez-vous-vos-deplacements-profess-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Test > Formulaire sur une page > TransportQuestion Form > Form content > Votre activité implique-t-elle d'être sur place à chaque étape?
.votre-activite-implique-t-elle-detre-sur-p-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
}
// Test > Formulaire sur une page > TransportQuestion Form > Form content > Faites-vous une partie de vos taches administratives (prise de contact, devis) à distance?
.faites-vous-une-partie-de-vos-taches-admin-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 997;
  }
}
// Test > Formulaire sur une page > TransportQuestion Form > Form content > Boutons retour suivant enregistrer
.container-17-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 996;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > TransportQuestion Form > Form content > Boutons retour suivant enregistrer > Retour
.button-17-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > TransportQuestion Form > Form content > Boutons retour suivant enregistrer > Suivant
.button-18-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > Boutons retour suivant
.boutons-retour-suivant-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > Boutons retour suivant > Retour
.button-19-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > Boutons retour suivant > Suivant
.button-20-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > Boutons retour suivant > Enregistrer
.button-21-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > Boutons retour suivant enregistrer
.container-18-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > Boutons retour suivant enregistrer > Retour
.button-22-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > Boutons retour suivant enregistrer > Suivant
.button-23-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > Boutons retour suivant enregistrer
.container-19-p6 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Test > Formulaire sur une page > Boutons retour suivant enregistrer > Retour
.button-24-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > Boutons retour suivant enregistrer > Suivant
.button-25-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > Boutons retour suivant enregistrer > Enregistrer
.button-26-p6 {
  &.outer-style {
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}
// Test > Formulaire sur une page > List
.list-p6 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 999;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow: auto;
  }
}